[Desktop Entry]
Name=Blog
Comment=Edit Blog Post
Exec=alacritty -e /home/ritoban/.local/bin/blog
Icon=bookworm
Terminal=false
Type=Application
Categories=Education;

Path=
StartupNotify=false
