[Desktop Entry]
Name=Connect Earbuds
Comment=Connect to Bluetooth Earbuds
Exec=/home/ritoban/.local/bin/earbud
Icon=audio-headphones
Terminal=false
Type=Application
Path=
StartupNotify=false
